:deep(.el-loading-mask) {
    background: rgba(0, 0, 0, 0.5);
}

:deep(.el-upload) {
    .el-upload-dragger {
        padding: 0;
        border: 1px solid var(--color-draw-border);
        background-color: var(--color-draw-bg);
        &:hover {
            border-color: #ffffff33;
        }
        &.is-dragover {
            border-color: #ffffff33;
        }
    }
    .el-upload-list {
        .el-upload-list__item {
            &:hover {
                background-color: #ffffff33;
            }
        }
        .el-upload-list__item-file-name,
        .el-icon--close-tip,
        .el-progress__text {
            color: #ffffff;
        }
        .el-icon--close {
            color: #ffffff;
        }
    }
}

:deep(.el-input) {
    .el-input__wrapper {
        background-color: var(--color-draw-bg);
        box-shadow: 0 0 0 1px var(--color-draw-border);
    }
    .el-input__inner {
        color: #ffffff;
        &::placeholder {
            color: rgba(255, 255, 255, 0.3);
        }
    }
    .el-input-group__append {
        background-color: transparent;
        border: none;
        box-shadow: none;
    }
}
:deep(.el-textarea) {
    .el-textarea__inner {
        color: #ffffff;
        background-color: var(--color-draw-bg);
        box-shadow: 0 0 0 1px var(--color-draw-border);
        padding-bottom: 20px;
        &::placeholder {
            color: rgba(255, 255, 255, 0.3);
        }
        &::-webkit-scrollbar {
            width: 0;
        }
    }
}
:deep(.el-input__count) {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.3);
    .el-input__count-inner {
        background-color: transparent;
    }
}

:deep(.el-select) {
    .el-select__wrapper {
        background-color: var(--color-draw-bg);
        box-shadow: 0 0 0 1px var(--color-draw-border);
    }
    .el-select__selected-item {
        color: #ffffff;
    }
}

:deep(.el-form) {
    .el-form-item {
        .el-form-item__label {
            color: #ffffff;
            padding-right: 0;
        }
    }
    .el-form-item--label-top .el-form-item__label {
        margin-bottom: 12px;
    }
}

.type-tabs {
    @apply px-9 border-[0] border-b-[1px] border-[#333333];
    :deep() {
        .el-tabs {
            @apply w-full;
            .el-tabs__item {
                &:not(.is-active) {
                    color: rgba(255, 255, 255, 0.5);
                }
            }
        }
        .el-tabs__header {
            @apply mb-0;
        }
        .el-tabs__nav {
            @apply grid grid-cols-2 w-full h-[55px] items-center;
        }
        .el-tabs__nav-wrap {
            &::after {
                display: none;
            }
        }

        .el-tabs__active-bar {
            height: 1px;
        }
        .el-tabs__item.is-active,
        .el-tabs__item:hover {
            color: #ffffff;
        }
    }
}
