.login[data-v-244e3ce6]{background-image:url(/admin/assets/login_bg.2f630cea.png);min-height:100vh;background-size:cover;background-position:center;background-repeat:no-repeat}.login .login-card[data-v-244e3ce6]{height:400px}
