@import "./tailwind.scss";
@import "../uni_modules/vk-uview-ui/index.scss";
@import "./public.scss";

@font-face {
    font-family: "digital-number";
    src: url("/static/fonts/sa-digital-number.ttf");
}
