/.idea
/.vscode
*.log
/.env
!/public/uploads/index.html
!/runtime/index.html
/config/install.lock
/public/*.htaccess
/public/.DS_Store
.DS_Store
install.lock
composer.lock
/runtime/*
!/runtime/.gitkeep
/public/uploads/*
!/public/uploads/.gitkeep
/vendor
/public/pc
/public/admin
swoole.php
.history
/public/.well-known
/public/.user.ini
