body {
    @apply text-base bg-page;
}

:host,
html,
body {
    -webkit-text-size-adjust: 100%;
    font-feature-settings: normal;
    -webkit-tap-highlight-color: transparent;
    font-family: PingFang SC, Arial, Hiragino Sans GB, Microsoft YaHei, sans-serif;
    font-variation-settings: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

.form-tips {
    @apply text-tx-secondary text-sm leading-6 mt-1;
}

.el-button {
    background-color: var(--el-button-bg-color, var(--el-color-white));
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
}

.render-html {
    ul {
        list-style: disc;
    }
    ol {
        list-style: decimal;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.17em;
    }
    h4 {
        font-size: 1em;
    }
    h5 {
        font-size: 0.83em;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-weight: bold;
    }
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

.animate-spin {
    animation: spin 1s linear infinite;
}

.gizmo-shadow-stroke {
    &::after {
        --tw-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
        --tw-shadow-colored: inset 0 0 0 1px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent),
            var(--tw-shadow);
        border-radius: 9999px;
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.mm-toolbar {
    display: flex;
    user-select: none;
    align-items: center;
    border-width: 1px;
    --un-border-opacity: 1;
    border-color: rgb(212 212 216 / var(--un-border-opacity));
    border-radius: 0.25rem;
    border-style: solid;
    --un-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--un-bg-opacity));
    padding: 0.25rem;
    line-height: 1;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    z-index: 2;
    .mm-toolbar-brand {
        display: none;
    }
}

.chat-loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 24rpx;
    clip-path: inset(0 3ch 0 0);
    animation: chatLoader 1s steps(4) infinite;
}
.chat-loader:before {
    content: "Loading...";
}
@keyframes chatLoader {
    to {
        clip-path: inset(0 -1ch 0 0);
    }
}

.dynamic-scroller {
    // 美化滚动条
    &::-webkit-scrollbar {
        width: 8px;
        background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 4px;
        cursor: pointer;
    }
}

.version-tag {
    background: linear-gradient(
        90deg,
        rgba(193, 255, 221, 1) 0%,
        rgba(189, 250, 227, 1) 45.05%,
        rgba(177, 238, 252, 1) 75.33%,
        rgba(198, 193, 255, 1) 100%
    );

    box-shadow: 0rpx 4rpx 8rpx rgba(0, 0, 0, 0.11);
    @apply rounded-lg px-[10px] py-[1px];
}

.rotation {
    @apply w-8 h-8 border-[5px] border-dotted border-white rounded-full inline-block mb-4;
    animation: rotation 3s linear infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.resize-handle {
    background: linear-gradient(135deg, transparent 50%, #ccc 50%);
    transition: background 0.2s;
}

.resize-handle:hover {
    background: linear-gradient(135deg, transparent 50%, #999 50%);
}

.app-item-card {
    @apply gap-x-4 h-20 border border-[transparent] rounded-[10px] p-[1px] cursor-pointer relative;
    &:hover {
        border-color: var(--border-primary);
        &::after {
            display: none;
        }
    }
    &:after {
        @apply content-[''] absolute w-[calc(200%-16px)] h-[1px] left-[10px] bottom-0;
        transform: scale(0.5) translate(-50%, 0);
        background: var(--border-primary);
    }
}
.app-more-btn {
    @apply cursor-pointer  text-xs flex items-center gap-x-1 hover:underline;
}
