:root {
	--gray-50: #f9f9f9;
	--gray-100: #ececec;
	--gray-200: #e3e3e3;
	--gray-300: #cdcdcd;
	--gray-400: #b4b4b4;
	--gray-500: #9b9b9b;
	--gray-600: #676767;
	--gray-700: #424242;
	--gray-750: #2f2f2f;
	--gray-800: #212121;
	--gray-900: #171717;
	--gray-950: #0d0d0d;
}

:root {
	--el-text-color-primary: var(--gray-950) !important;
}

:root body {
	--el-font-family: theme(fontFamily.sans);
	--color-primary: #0065FB;
	--el-color-primary: var(--color-primary);
	--color-minor: var(--gray-950);
	--color-btn-text: white;
	--el-color-primary-dark-2: #4448e0;
	--el-color-primary: var(--color-primary);
	--el-color-primary-light-1: #1A74FB;
	--el-color-primary-light-2: #3383FC;
	--el-color-primary-light-3: #4D93FC;
	--el-color-primary-light-4: #66A2FD;
	--el-color-primary-light-5: #80B1FD;
	--el-color-primary-light-6: #99C0FE;
	--el-color-primary-light-7: #B3D0FE;
	--el-color-primary-light-8: #CCDFFF;
	--el-color-primary-light-9: #E6EFFF;
	--el-font-weight-primary: 400;
	--el-menu-item-height: 40px;
	--el-menu-sub-item-height: var(--el-menu-item-height);
	--el-menu-icon-width: 18px;
	--sidebar-width: 260px;
	--aside-bg-color: #fff;
	--header-height: 60px;
	--color-white: #ffffff;
	--table-header-bg-color: #f8f8f8;
	--el-font-size-extra-large: 18px;
	--el-menu-horizontal-height: 44px;
	--el-menu-base-level-padding: 16px;
	--el-menu-level-padding: 26px;
	--el-font-size-large: 16px;
	--el-font-size-medium: 15px;
	--el-font-size-base: 13px;
	--el-font-size-small: 13px;
	--el-font-size-extra-small: 12px;
	--el-border-radius-base: 8px;
	--el-border-radius-lg: 16px;
	--el-border-radius-xl: 24px;
	--el-border-radius-2xl: 32px;
	--el-input-wrapper-height: 38px;
	--el-component-size: 38px;
	--el-menu-item-font-size: var(--el-font-size-small);
	--el-menu-hover-bg-color: var(--gray-100);
	--gradient-1: var(--color-primary);
	--gradient-2: var(--color-minor);
	--el-bg-color: var(--color-white);
	--el-bg-color-page: #F6F7FA;
	--el-bg-color-overlay: #ffffff;
	--el-text-color-primary: var(--gray-950);
	--el-text-color-regular: #000000;
	--el-text-color-secondary: #787878;
	--el-text-color-placeholder: #a8abb2;
	--el-text-color-disabled: #c0c4cc;
	--el-border-color: #dcdfe6;
	--el-border-color-light: #e4e7ed;
	--el-border-color-lighter: #ebeef5;
	--el-border-color-extra-light: #f2f2f2;
	--el-border-color-dark: #d4d7de;
	--el-border-color-darker: #cdd0d6;
	--el-fill-color: #f0f2f5;
	--el-fill-color-light: #f7f7f7;
	--el-fill-color-lighter: #fafafa;
	--el-fill-color-extra-light: #fafcff;
	--el-fill-color-dark: #ebedf0;
	--el-fill-color-darker: #e6e8eb;
	--el-fill-color-blank: #ffffff;
	--el-mask-color: rgba(255, 255, 255, 0.9);
	--el-mask-color-extra-light: rgba(255, 255, 255, 0.3);
	-el-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04),
		0px 8px 20px rgba(0, 0, 0, 0.08);
	--el-box-shadow-light: 0px 10px 12px -6px rgba(0, 0, 0, 0.12);
	--el-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.12);
	--el-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.08),
		0px 12px 32px rgba(0, 0, 0, 0.12), 0px 8px 16px -8px rgba(0, 0, 0, 0.16);
	--el-color-error-fill: #ef4444;
	--el-color-success-fill: #56BF60;
	--el-color-warning-fill: #2D2F33;
	--el-popover-border-radius: 6px;
	--el-color-danger: #FF3C26;

	--sidebar-surface-secondary: var(--gray-100);
	--sidebar-surface-secondary-primary: #e5f0ff;
	--sidebar-surface-secondary-primary-7: var(--el-color-primary-light-7);
	--border-light: rgba(0, 0, 0, 0.1);
	--main-surface-secondary: var(--gray-50);
	--text-secondary: #7d7d7d;
	--text-error: #f93a37;
	--text-tertiary: var(--gray-400);
	--border-medium: rgba(0, 0, 0, 0.15);
	--file-surface-secondary: #f0f0f0;
	--text-color-primary: #b4b4b4;
	--border-heavy: rgba(0, 0, 0, 0.2);
	--border-primary: #ededed;
	--border-primary-2: #bfbfbf;
	--border-primary-3: #ebebeb;
	/* 小红书主题 */
	--color-redbook: #f45d5d;
	--aside-width: 228px;
	--nav-height: 76px;

	--app-bg-color-1: #1f1f1f;
	--app-bg-color-2: #181818;
	--app-bg-color-3: #121212;
	--app-bg-color-4: #262626;
	--app-border-color-1: #292929;
	--app-border-color-2: #2a2a2a;
}