.coze-edit-body .top{align-items:center;background-repeat:no-repeat;background-size:cover;border-top-left-radius:20px;border-top-right-radius:20px;display:flex;flex-direction:column;height:235px;justify-content:center;width:100%}
