.friend-item[data-v-4b6234f6]{cursor:pointer;padding-left:1rem;padding-right:1rem}.friend-item[data-v-4b6234f6]:hover{--tw-bg-opacity:1;background-color:#d3d3d3;background-color:rgb(211 211 211/var(--tw-bg-opacity,1))}
