[data-v-32d1eb0a] .el-tabs__nav-wrap:after{display:none}[data-v-32d1eb0a] .el-tabs__nav-wrap .el-tabs__item{color:#89899c;font-size:16px}[data-v-32d1eb0a] .el-tabs__nav-wrap .el-tabs__item.is-active{color:#000;font-weight:700}
