[data-v-5141ce78] .el-table{border-radius:8px}[data-v-5141ce78] .el-table thead th.el-table__cell.is-leaf{border-top:0}[data-v-5141ce78] .el-table.el-table--fit .el-table__inner-wrapper:before{display:none}
