[data-v-a1d84197] .el-input-number .el-input-number__decrease,[data-v-a1d84197] .el-input-number .el-input-number__increase{--el-input-number-controls-height:19px}[data-v-a1d84197] .el-input-number .el-input .el-input__inner{height:36px}
